@import "../../App.scss";


.All {
    display: flex;
    width: 100%;
}
.main {
    display: flex;
    flex-grow: 1;
    justify-self: stretch;
}

.content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

}

.header{
    width: 100%;
    height: 34px;
    /* padding: 0px, 32px, 0px, 32px */
    /* border: 0px, 0px, 1px, 0px; */
    /* gap: 32px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 32px;
    margin-right: 32px;
}

.headerselecttext{
    height: 34px;
    font-family: Anjoman;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.headerselecttext:hover {
    cursor: pointer;
}

.headerselected{
    height: 34px;
    font-family: Anjoman;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #E52A49;
    border-bottom: 4px solid #E52A49;
    /* clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0); */
    border-bottom-left-radius: 3px;
    /* border-bottom-style: unset; */
    border-bottom-right-radius: 3px;
}

.headerselected:hover {
    cursor: pointer;
}

.separator{
    display: flex;
    align-self: center;
    width: 98%;
    border: 1px solid #8E888C;
}

.orders{
    margin-top: 30px;
    /* margin-bottom: 0px; */
    width: 100%;
    /* height: 90%; */
    /* border-radius: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.order{
    width:calc( 100% - 40px);
    justify-self: stretch;
    flex-grow: 1;
    padding: 30px 24px;
    border-radius: 30px;
    background-color: white;
    box-shadow: $header_shadow ;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderdetail{
    flex-grow: 1;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orderdetailtitle{
    height: 22px;
    color: #000000;
    font-family: Anjoman;
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: right;    
}

.orderdetailvalue{
    height: 22px;
    color: #000000;
    font-family: Anjoman;
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: right;  
}

.orderseparator{
    display: flex;
    align-self: center;
    width: 100%;
    border: 0.5px solid #d7d7d7;
    /* border: 1px solid #8E888C */
    margin-top: 6px;
}

.buttonbox{
    /* width: 408px; */
    margin-top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonright{
    width: 184px;
    height: 48px;
    border-radius: 15px;
    gap: 10px;
    background: #E52A49;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonright:hover {
    cursor: pointer;
}

.buttonrighttext{
    color: #FFFFFF;
    font-family: Anjoman;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}

.buttonleft{
    width: 184px;
    height: 48px;
    border-radius: 15px;
    background: #E52A49;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buttonleft:hover {
    cursor: pointer;
}

.buttonlefttext{
    color: #FFFFFF;
    font-family: Anjoman;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}

@media (max-width: 1020px) {
    .buttonbox{
        flex-direction: column ;
    }
}