.index {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(13, 11, 11);
    background-image: linear-gradient(to right, #4b4b4b, #4b4b4b, #4b4b4b);
    padding: 0.5em 0.5em 0.5em
}

.authformcontainer, .loginform, .signupform {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    padding: 0.5rem 0.5rem 0.5rem
}

.authformcontainer {
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #000000;
}

h2 {
    padding-top: 0rem;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.linkbtn {
    background: none;
    margin-bottom: -1.5rem;
    font-size: large;
    color: #0011ff;
}

p{
    text-align: left;
}

.errormessage {
    text-align: left;
    color: rgb(82, 1, 29) !important;
}

.VisibilityOff{
    color: white
}