@import "../../App.scss";

.CategoryItem{
    height: 48px;
    border-radius: 24px;
    background: var(--Opex---gray, #E8E8E8);
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    /* Opex - font */
    font-family: IRAN Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}