@import "../../App.scss";

.Button{
    width: 65px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 20px;
    background: $Buttons;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: IRAN Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
}
/* Media Query for low resolution  Tablets, Ipads */ 
@media (max-width: 767px) { 
    .Button{
        width: 35px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 20px;
        background: $Buttons;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: IRAN Sans;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 137.5% */
        letter-spacing: -0.32px;
        margin-bottom: 15px;
    }

  }