@import "../../App.scss";

.Button{
    width: 40%;
    aspect-ratio: 5/2;
    
    border-radius: 100px;
    background: $Buttons;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $second_font;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
}