@import "../../App.scss";

.SearchHeader{
    width: 70%;
    height: 48px;
    flex-shrink: 0;
    background: var(--Opex---gray, #E8E8E8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 37.5px;
    .input{
        width: 90%;
        border: none;
        background: none;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--Opex---font-on-gray, #8E888C);
        /* Opex - font */
        font-family: IRAN Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        outline: none;
    }
}
/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    body { 
        background-color: red; 
    } 
} 
    
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    body { 
        background-color: yellow; 
    } 
} 
    
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    body { 
        background-color: blue; 
    } 
} 
    
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    body { 
        background-color: green; 
    } 
} 
    
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    .SearchHeader{
        width: 65%;
        height: 48px;
        flex-shrink: 0;
        background: var(--Opex---gray, #E8E8E8);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 37.5px;
        padding-left: 10px;
        .input{
            width: 90%;
            border: none;
            background: none;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: var(--Opex---font-on-gray, #8E888C);
            /* Opex - font */
            font-family: IRAN Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            outline: none;
        }
    }
}

/* Media Query for Large screens */ 
@media (min-width: 1850px) { 
    .SearchHeader{
        width: 80%;
        height: 48px;
        flex-shrink: 0;
        background: var(--Opex---gray, #E8E8E8);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 37.5px;
        padding-left: 10px;
        .input{
            width: 90%;
            border: none;
            background: none;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: var(--Opex---font-on-gray, #8E888C);
            /* Opex - font */
            font-family: IRAN Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            outline: none;
        }
    }
}