@import "../../App.scss";

.Footer{
    width: 100%;
    height: 242px;
    flex-shrink: 0;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;

    .Text{
        color: #FFF;
        text-align: right;
        font-family: IRAN Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 125% */
        letter-spacing: -0.48px;
        margin-top: 20px;
    }
    .parent {
        position: relative;
        top: 0;
        left: 0;
      }
      .image1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image2 {
        position: absolute;
        top: -50px;
        left: 25%;
      }
      .mobile{
        display: none;
      }
    .support{
        position: relative;
        z-index: 10;
    }
}

.FooterMobile{
  width: 100%;
  background: var(--Opex---gray, #E8E8E8);
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
  box-shadow: 0px 25px 0px 20px (var(--Opex---gray, #E8E8E8));
}
.FooterItems{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query for Mobile Devices */ 
@media (max-width: 350px) {
  .Footer{
    display: none;
  }
  .FooterMobile{
    padding-left: 60px;
    padding-right: 60px;
    height: 55px;
    .CircleSelect{
      position: relative;
      .PersonCircleIcon{
        height: 55px;
        margin-top: -23px;
        margin-left: 25px;
        position: relative;
        z-index: 1;
      }
      .SelectedPersonIcon{
        height: 26px;
        position: absolute;
        bottom: 29px;
        left: 69px;
        z-index: 2
      }
      .ShopCircleIcon{
        height: 55px;
        margin-top: -23px;
        position: relative;
        z-index: 1;
      }
      .SelectedShopIcon{
        height: 27px;
        position: absolute;
        bottom: 26.5px;
        left: 44px;
        z-index: 2
      }
      .HomeCircleIcon{
        height: 55px;
        margin-top: -22px;
        position: relative;
        z-index: 1;
      }
      .SelectedHomeIcon{
        position: absolute;
        height: 30px;
        bottom: 27px;
        left: 43px;
        z-index: 2
      }
      .CommentCircleIcon{
        height: 55px;
        margin-top: -23px;
        position: relative;
        z-index: 1;
      }
      .SelectedCommentIcon{
        height: 26px;
        position: absolute;
        bottom: 26px;
        left: 43px;
        z-index: 2
      }
      .SearchCircleIcon{
        height: 55px;
        margin-top: -21px;
        margin-left: -25px;
        position: relative;
        z-index: 1;
      }
      .SelectedSearchIcon{
        height: 27px;
        position: absolute;
        bottom: 27px;
        left: 17px;
        z-index: 2
      }
    }
    .personicon{
      width: 25px;
    }
    .shopicon{
      width: 25px;
    }
    .homeicon{
      width: 25px;
    }
    .commenticon{
      width: 30px;
    }
    .searchicon{
      width: 25px;
    }
  }
}

@media (min-width: 350px) and (max-width: 401px) {
  .Footer{
    display: none;
  }
  .FooterMobile{
    padding-left: 50px;
    padding-right: 40px;
    height: 60px;
    .CircleSelect{
      position: relative;
      .PersonCircleIcon{
        height: 60px;
        margin-top: -26px;
        margin-left: 26px;
        position: relative;
        z-index: 1;
      }
      .SelectedPersonIcon{
        height: 30px;
        position: absolute;
        bottom: 29px;
        left: 73px;
        z-index: 2
      }
      .ShopCircleIcon{
        height: 60px;
        margin-top: -26px;
        position: relative;
        z-index: 1;
      }
      .SelectedShopIcon{
        height: 31px;
        position: absolute;
        bottom: 27px;
        left: 48px;
        z-index: 2
      }
      .HomeCircleIcon{
        height: 60px;
        margin-top: -24px;
        position: relative;
        z-index: 1;
      }
      .SelectedHomeIcon{
        height: 32px;
        position: absolute;
        bottom: 29px;
        left: 48px;
        z-index: 2
      }
      .CommentCircleIcon{
        height: 60px;
        margin-top: -26px;
        position: relative;
        z-index: 1;
      }
      .SelectedCommentIcon{
        height: 29px;
        position: absolute;
        bottom: 27px;
        left: 47px;
        z-index: 2
      }
      .SearchCircleIcon{
        height: 60px;
        margin-top: -25px;
        margin-left: -25px;
        position: relative;
        z-index: 1;
      }
      .SelectedSearchIcon{
        height: 29px;
        position: absolute;
        bottom: 30px;
        left: 22px;
        z-index: 2
      }
    }
    .personicon{
      width: 30px;
    }
    .shopicon{
      width: 30px;
    }
    .homeicon{
      width: 30px;
    }
    .commenticon{
      width: 35px;
    }
    .searchicon{
      width: 30px;
    }
  }
}

@media (min-width: 401px) and (max-width: 480px) { 
  .Footer{
    display: none;
  }
  .FooterMobile{
    height: 64px;
    padding-left: 40px;
    padding-right: 35.5px;
    .CircleSelect{
      position: relative;
      .PersonCircleIcon{
        margin-top: -32px;
        margin-left: 26px;
        position: relative;
        z-index: 1;
      }
      .SelectedPersonIcon{
        position: absolute;
        bottom: 32px;
        left: 77px;
        z-index: 2
      }
      .ShopCircleIcon{
        margin-top: -32px;
        position: relative;
        z-index: 1;
      }
      .SelectedShopIcon{
        position: absolute;
        bottom: 29px;
        left: 53px;
        z-index: 2
      }
      .HomeCircleIcon{
        margin-top: -28px;
        position: relative;
        z-index: 1;
      }
      .SelectedHomeIcon{
        position: absolute;
        bottom: 32px;
        left: 53px;
        z-index: 2
      }
      .CommentCircleIcon{
        margin-top: -32px;
        position: relative;
        z-index: 1;
      }
      .SelectedCommentIcon{
        position: absolute;
        bottom: 28px;
        left: 51px;
        z-index: 2
      }
      .SearchCircleIcon{
        margin-top: -29px;
        margin-left: -15px;
        position: relative;
        z-index: 1;
      }
      .SelectedSearchIcon{
        position: absolute;
        bottom: 31px;
        left: 36px;
        z-index: 2
      }
    }
    .personicon{
      width: 35px;
    }
    .shopicon{
      width: 35px;
    }
    .homeicon{
      width: 35px;
    }
    .commenticon{
      width: 40px;
    }
    .searchicon{
      width: 35px;
    }
  }
} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 768px) {
  .Footer{
  }
  .FooterMobile{
    display: none;
  }
} 
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1281px){ 
  .FooterMobile{
    display: none;
  }
  .Footer{
    width: 100%;
    height: 242px;
    flex-shrink: 0;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
    .Text{
        display: none;
        }
    .Text1{
        color: #FFF;
        text-align: right;
        font-family: IRAN Sans;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 125% */
        letter-spacing: -0.48px;
        margin-top: 30px;
  
      }
      .mobile{
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    .parent {
        position: relative;
        top: 0;
        left: 0;
      }
      .image1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image2 {
        position: absolute;
        top: -50px;
        left: 25%;
      }
    .support{
        position: relative;
        z-index: 10;
    }
}
} 
  
// /* Media Query for Laptops and Desktops */ 
// @media (min-width: 1025px) and (max-width: 1280px){ 
//     body { 
//         background-color: green; 
//     } 
// } 
  
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
  .Footer{
    width: 100%;
    height: 242px;
    flex-shrink: 0;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
    .Text{
        display: none;
        }
    .Text1{
        color: #FFF;
        text-align: right;
        font-family: IRAN Sans;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 125% */
        letter-spacing: -0.48px;
        margin-top: 30px;
  
      }
      .mobile{
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    .parent {
        position: relative;
        top: 0;
        left: 0;
      }
      .image1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image2 {
        position: absolute;
        top: -50px;
        left: 25%;
      }
    .support{
        position: relative;
        z-index: 10;
    }
  }
  .FooterMobile{
    display: none;
  }
}