@import '../../App.scss';


.Header {
    display: flex;
    flex-grow: 1;
    gap: 16px;

    .logo {
        width: 174px;
        height: 47px;
    }

    .logo:hover {
        cursor: pointer;
    }
}

@media(max-width : 980px) {
    .logo {
        display: none;
    }
}
/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .logo{
        display: none;
    }
    
} 