@import '../../App.scss';

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .Header{
        height: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        .logo{
            display: none;
            
        }
        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            color: --opex--red;
            display: none;

        }
    }
} 
    
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    .Header{
        height: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        .logo{
            display: none;
            
        }
        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            color: --opex--red;
            display: none;

        }
    }
} 
    
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    .Header{
        height: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        .logo{
            display: none;
            
        }
        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            color: --opex--red;
            display: none;

        }
    }
} 
    
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    .Header{
        height: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;

        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            color: --opex--red;
        }
    }
} 
    
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    .Header{
        height: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        
        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            color: --opex--red;
        }
    }
}