@import "../../App.scss";

.GameList{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y:visible;
    gap: 20px;
}

.GameList::-webkit-scrollbar {
        display: none;
    }
