@import '../../App.scss';

.LittleCart{
    width: 200px;
    aspect-ratio: 3/4;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* Changed 'end' to 'flex-end' */
    background-size: cover;
    background-image: url(../../assets/4.jfif); /* Removed single quotes and fixed the URL */
    background-position: center center; /* Center the background image horizontally and vertically */
    background-repeat: no-repeat; /* Removed single quotes */

    .GameTitle{
        width: 100%;
        height: 60px;
        background: var(--Blur---back, rgba(0, 0, 0, 0.20));
        backdrop-filter: blur(15px);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        padding-top: 10px;
        .GameTitleText{
          display: flex;
          
          
          
          flex-shrink: 0;
          color: #FFF;
          /* H3 */
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px; /* 230.769% */
          letter-spacing: -0.26px;
        }
      }
      .under{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .underText{
          color: #FFF;
          text-align: right;
          font-family:$second_font;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          
          letter-spacing: -0.2px;
          display: flex;
          
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
        }
      }
}

    
/* Media Query for low resolution  Tablets, Ipads */ 
@media  (max-width: 767px) { 
    .LittleCart {
        width: 150px !important;
        border-radius: 20px;
        .GameTitle {
          font-size: 13px;
          padding: 8px;
        }

        .underText {
          font-size: 10px !important;
        }
      }
} 
    
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    .LittleCart {
        width: 150px !important;
        border-radius: 20px;
        .GameTitle {
          font-size: 13px;
          padding: 8px;
        }

        .underText {
          font-size: 10px !important;
        }
      }
} 
    
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    .LittleCart {
        width: 180px !important;
        border-radius: 20px;
        .GameTitle {
          font-size: 13px;
          padding: 12px;
        }

        .underText {
          font-size: 10px !important;
        }
      }
    
} 
    
