@import "../../App.scss";

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    background: $color1;
    box-shadow: $header_shadow;
    height: 48px;
    gap: 7px;
    padding: 0px 8px 0px 8px;
    flex-shrink: 0;
    .image{
        width: 33.3px;
        height: 33.3px;
        border-radius: 33.358px;
    }
    .name{
        color: #000;
        text-align: center;
        cursor: pointer;
    }
    }
.exitButton {
        border: none;
        background-color: $--Opex--red;
        color: $color1;
        width: 60px;
        height: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: $main_font;
        :hover {
            cursor: pointer;
        }
    }