@import "../../App.scss";

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    background: $color1;
    box-shadow: $header_shadow;
    height: 48px;
    gap: 10px;
    padding: 0px 12px 0px 12px;
    flex-shrink: 0;
    transition-duration: 0.4s;
    .image{
        width: 33.3px;
        height: 33.3px;
        border-radius: 33.358px;
        object-fit: cover; // Makes the image cover the entire container while maintaining its aspect ratio
        object-position: center;
    }
    .name{
        color: #000;
        text-align: center;
        cursor: pointer;
        font-family: $main_font;
        font-weight: bold !important;
        font-size: small;
        transition-duration: 0.4s;
    }
    }
.exitButton {
        border: none;
        background-color: $--Opex--red;
        color: $color1;
        width: 60px;
        height: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: $main_font;
        .exitButtonImg {
            color: white;
        }
    }

    .exitButton:hover {
        cursor: pointer;
    }

.profile:hover {
    cursor: pointer;
    background-color: $--Opex--red;
    
    transition-duration: 0.4s;
    .name {
        color: $color1;
        transition-duration: 0.4s;
    }
}
/* Media Query for Mobile Devices */ 
@media (max-width: 720px) { 
    .profile{
        display: none;
    }
} 