@import '../App.scss';

.Category{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 16px;
    .CategoryItems{
        display: flex;
        flex-direction: row;
        // overflow-x: scroll;
        gap: 10px;
    }
    .CategoryItems::-webkit-scrollbar {
        display: none;
    }

}
.Head{
    margin-top: 50px;
}
.admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    height: 50px;
    // border-radius: 25px;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // gap:  35px;
    z-index: 5;
    font-size: 15px;
    font-weight: 800;
    .adminButton {
        background-color: $--Opex--red; /* Assuming --Opex--red is a custom variable */
        color: white;
        border-radius: 20px;
        font-weight: 800;
        padding: 8px 15px;
        cursor: pointer;
    }
}


.PageLayout{
        display: flex;
        flex-direction: column;
        margin: -8px;
        
        align-items: center;
        justify-content: center; /* Reset vertical centering */
        // align-items: flex-start; /* Reset horizontal centering */
        // min-width: 1281; /* Reset width to fill the screen */
        background-color: $main_background_color;
            .HeadContainer {
                padding-top: 48px;
                display: flex;
                flex-direction: column;
                margin-bottom: 32px;
                width: 100%;
                align-items: center;
                right: 0;
                top: 0px;
                
                background-color: white;
                // box-shadow: $header_shadow;
                .Head {
                    display: flex;
                    flex-direction: column;
                    width: 75%;
                    gap: 32px;
                }
                .x {
                    display: flex;
                    flex-direction: column;
                    max-width: 1440px;
                    width: calc(100% - 40px);
                
                    gap: 32px;
                }
            }
            .allContainer {
                display: flex;
                width: calc(100% - 40px);
                justify-content: center;
                padding: 0px 20px !important;
                
            }
        .container{
            background-color: $main_background_color ;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-self: stretch;
            padding-bottom: 80px;
            // width: 75%;
            max-width: 1440px !important;
            justify-self: stretch !important;
            flex-grow: 1;
            gap: 32px;
            width: 100%;
        }
    }


/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .container {
        width: 95% !important;
    };
    .Category{
        display: none;
    }
    .PageLayout{
        overflow-x: hidden;
        .HeadContainer {
            padding-top: 10px;
            
            .Head{
                width: 95%;
            }
        }
    }

    
} 
    
// /* Media Query for low resolution  Tablets, Ipads */ 
// @media (min-width: 481px) and (max-width: 767px) { 
//     .container {
//         padding-top : 20px !important;
//         width: 90% !important;
//     };
// } 
    
// /* Media Query for Tablets Ipads portrait mode */ 
// @media (min-width: 768px) and (max-width: 1024px){ 
//     .container {
//        width: 90% !important;
//     }
// } 
    
// /* Media Query for Laptops and Desktops */ 
// @media (min-width: 1025px) and (max-width: 1280px){ 
//     .container {
//         max-width: 1000px !important;
//     }
// } 



