// COLORS

$color1 : white ;
$color2 : #8E888C ;

$--Opex--gray: #E8E8E8;
$--Opex--red : #E52A49;
$Buttons : #FFFFFF;

$main_font : ANJOMAN ;
$second_font : shabnam ;

$header_shadow : 10px 10px 40px 0px rgba(0, 0, 0, 0.15);

//FONTS
*{
    font-family: ANJOMAN ;
}

