// COLORS

$color1 : white ;
$color2 : #8E888C ;

$main_background_color : #f4f5f8 ;

$--Opex--gray: #E8E8E8;
$--Opex--red : #E52A49;
$Buttons : #FFFFFF;
$admin_background : #F4F7FE;
$admin_title : #2B3674 ;
$admin_button : #4318FF ;

$main_font : ANJOMAN ;
$second_font : shabnam ;

$header_shadow : 5px 5px 20px 0px rgba(0, 0, 0, 0.15);

//FONTS
*{
    font-family: ANJOMAN ;
}

