/* PaymentPage.module.scss */


.wait {
    text-align: center;
    
    transform: translateY(-50%);
    // color: #E52A49;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: IRAN Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    line-height: 22px; /* 137.5% */
    // letter-spacing: -0.32px;
    cursor: default;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Add the styles to the existing styles object in your component */
  

  .returnButton {
    border: 2px solid #E52A49;
    padding: 16px 20px;
    border-radius: 16px;
    color: #E52A49;
    background-color: white;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    font-weight: bold;
    transition-duration: 0.4s;

    &:hover {
      background-color: #E52A49;
      color: white;
      transition-duration: 0.4s;
      cursor: pointer;
    }
  }