@import "../../App.scss";

.part{
    cursor: pointer;
}

    .part{
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        background: $color1;
        box-shadow: $header_shadow;
        display: flex;
       
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition-duration: 0.4s;
    
        .icon{
            width: 30px;
            height: 30px;
            
            
        }

        
    }

    .part:hover {
        transform: scale(1.05);
        transition-duration: 0.4s;
        
        
    }

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .part{
        display: none;
    }
} 