@import "../../App.scss";

.Button{
    height: 45%;
    aspect-ratio: 5/2;
    flex-shrink: 0;
    border-radius: 200px;
    background: $Buttons;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $second_font;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
}