@import "../../App.scss";

.Button{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: $Buttons;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: IRAN Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
}